name: ci

on: 
  push: 
    branches: 
      - main 

jobs:
  publish-docs:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Cache npm
        uses: useblacksmith/stickydisk@v1
        with:
          key: ${{ runner.os }}-npm
          path: ~/.npm

      - name: Download Fern
        run: npm install -g fern-api

      - name: Generate and Publish Docs
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
        run: fern generate --docs --log-level debug