name: Release Python SDK

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version of the SDKs that you would like to release"
        required: true
        type: string

jobs:
  release:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Cache npm
        uses: useblacksmith/stickydisk@v1
        with:
          key: ${{ runner.os }}-npm
          path: ~/.npm

      - name: Download Fern
        run: npm install -g fern-api

      - name: Release SDKs
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN}}
        run: |
          VERSION=${{ inputs.version }}
          MAJOR_VERSION=$(echo "${VERSION%%.*}")
          fern generate --group python-sdk --version ${{ inputs.version }} --api "v$MAJOR_VERSION" --log-level debug

      - name: Regenerate Docs
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
        run: |
          fern generate --docs
