name: Release TypeScript SDK

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version of the SDK you would like to release"
        required: true
        type: string

jobs:
  release:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install the Fern CLI
        run: npm install -g fern-api

      - name: Generate TypeScript SDK
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          VERSION=${{ inputs.version }}
          MAJOR_VERSION=$(echo "${VERSION%%.*}")
          fern generate --group typescript-sdk --version ${{ inputs.version }} --api "v$MAJOR_VERSION" --log-level debug

      - name: Regenerate Docs
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
        run: |
          fern generate --docs          